* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', 'Sans Serif';
    scroll-behavior: smooth;
}

body {
    background: #081b29;
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .6s;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a:hover,
.navbar a.active {
    color: aqua;
}

.navbar-ekstra a {
    color: #fff;
    margin: 0 0.5rem;
}

.home {
    height: 80vh;
    background: url(assets/images/home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    width: 100%;
}

.home-content h1 {
    position: relative;
    font-size: 3.5rem;
    font-weight: 700;
    color: white;
    line-height: 1.2;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .1s;
}

.home-content h3 {
    margin-top: 0.5rem;
    position: relative;
    font-size: 2.4rem;
    font-weight: 700;
    color: #00abf0;
}

.home-content p { 
    font-size: 1.6rem;
    color: #ededed;
    margin: 20px 0 40px;
    max-width: 40ch;
}

.home-content .btn-box {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 50px;
    max-width: 500px;
    gap: 2rem;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #00abf0;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}
.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background: #00abf0;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 60px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: #081b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

/* .home-imgHover {
    position: absolute;
    top: 0;
    right: 30px;
    width: 410px;
    height: 500px;
    background: transparent;
    border: 1px solid red;
    transition: 3s;
} */

/* .home-imgHover:hover {
    background: #081b29;
    opacity: .8;
} */

@keyframes showRight {
    100% {
        width: 0;
    }
}

.porto {
    position: relative;
    padding: 125px 10%;
    margin: 0;
}

.porto h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding-bottom: 20px;
}

.image-row {
    width: 80vw;
    height: 40vh;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background-color: #081b29;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow-x: auto;
}

.image-row img {
    width: 420px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-row img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

#hamburger-menu {
    display: none;
    font-size: x-large;
}

/* Media Queris */

/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}
/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 62%;
    }

    #hamburger-menu {
        display: inline-block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #0f324b;
        width: 18rem;
        height: 100vh;
        transition: 0.2s;
    }

    .navbar.active {
        right: 0;
    }

    .navbar a {
        color: #fff;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .home-content .btn-box {
        width: 40vw;
        height: 8vh;
        gap: 1rem;
    }
}
/* Mobile */
@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .home-content .btn-box {
        width: 80vw;
        height: 8vh;
        gap: 1rem;
    }

    .porto {
        width: 100vw;
        height: 10vh;
    }

    .image-row {
        width: 80vw;
        height: 30vh;
    }

    .image-row img {
        width: 73vw;
        height: 25vh;
    }

    .home-sci {
        width: 47vw;
        height: 10vh;
        gap: 1rem;
    }
}